@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400&family=Lexend+Deca&display=swap");
html {
  font-size: 10px;
}

body {
  background-color: #F1F7FF;
  text-align: left;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}

.navbar {
  z-index: 10;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 1.5rem;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: 0px;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 25rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 2rem;
  line-height: 4rem;
}
.sidebar-nav ion-icon {
  margin-bottom: -0.1rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.sidebar-nav .active {
  text-indent: 2rem;
  line-height: 4rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a {
  display: block;
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(12, 87, 201, 0.7);
}

.sidebar-nav .active a {
  display: block;
  text-decoration: none;
  color: #0C57C9;
  background: #D8EEFB;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #0C57C9;
  background: #D8EEFB;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 10rem;
  line-height: 6rem;
}

.sidebar-brand img {
  width: 15rem;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  #wrapper {
    padding-right: 0;
  }

  #wrapper.sidebar_toggle {
    padding-left: 250px;
  }

  #wrapper.sidebar_toggle #sidebar-wrapper {
    width: 25rem;
  }

  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 25rem;
    width: 0;
    height: 100%;
    margin-left: -25rem;
    overflow-y: auto;
    background: #fff;
    transition: all 0.5s ease;
  }

  #wrapper.toggled {
    padding-left: 25rem;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 25rem;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 25rem;
  }

  #wrapper.toggled #overlay {
    background-color: transparent;
    width: 0;
    height: 0;
  }

  #page-content-wrapper {
    padding: 2rem;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  #wrapper.toggled #sidebar-wrapper {
    width: 25rem !important;
  }

  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 25rem;
    width: 0;
    height: 100%;
    margin-left: -25rem;
    overflow-y: auto;
    background: #fff;
    transition: all 0.5s ease;
  }

  /*#wrapper.toggled #overlay {
  	background-color: rgba(0,0,0,.5);
  	height: 100vh;
  	width: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: 1000;
  }*/
  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 25rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
    list-style: none;
    z-index: 1000;
  }
}
.contact_sidebar {
  margin-top: 20vh;
  padding: 2rem;
}
.contact_sidebar a ion-icon {
  margin-bottom: -0.3rem;
  font-size: 1.5rem;
}
.contact_sidebar .topic {
  color: #0C57C9;
  font-weight: bold;
  margin-top: 2rem;
}
.contact_sidebar .email {
  color: #0C57C9;
  font-size: 1.3rem;
}

.web_nav {
  transition: 0.3s;
}
.web_nav .navbar-brand img {
  width: 15rem;
}
.web_nav .navbar-nav li {
  margin-right: 2rem;
}
.web_nav .navbar-nav li a {
  font-size: 1.4rem;
  font-weight: bold;
}
.web_nav .navbar-nav li .nav_btn {
  background-color: #0C57C9;
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
}

.app_nav #menu-toggle {
  color: #0C57C9;
  font-size: 2.5rem;
}
.app_nav .navbar-toggler {
  color: #0C57C9;
  font-size: 1.6rem;
}
.app_nav .profile_navbar {
  padding: 0 2rem;
}
.app_nav .profile_navbar .user_name {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 1rem;
}
.app_nav .profile_navbar .user_img {
  width: 3rem;
}

@media (max-width: 768px) {
  #menu-toggle {
    color: #0C57C9;
    font-size: 2.5rem;
    margin-left: auto;
  }
}
#response .navbar .navbar-brand img {
  width: 15rem;
  margin: 2rem 0;
}
#response .response_content {
  padding: 10vw;
}
#response .response_img {
  width: 15rem;
}
#response .response_title {
  font-size: 2.5rem;
  margin-top: 2rem;
}
#response .response_text {
  font-size: 1.4rem;
  max-width: 40rem;
  margin: auto;
}

.navbox {
  padding: 2rem 2rem;
}

.nav_scroll {
  background-color: #fff !important;
  box-shadow: 0px 1px 10px #999;
  transition: 0.5s;
}

#menu_btn {
  background-color: #0C57C9;
  font-size: 3rem;
  padding: 0.3rem 1rem;
  border-radius: 4rem;
  position: fixed;
  top: 1.5rem;
  right: 1rem;
  z-index: 1;
}
#menu_btn ion-icon {
  margin-bottom: -0.3rem;
  color: #fff;
}

.sidenav_close {
  width: 60%;
  height: 100vh;
  background-color: #D8EEFB;
  position: fixed;
  top: 0;
  left: -40rem;
  z-index: 2;
  transition: all 0.5s ease;
}
.sidenav_close .sidenav_header {
  margin-top: 4rem;
}
.sidenav_close .sidenav_header img {
  width: 15rem;
  margin-left: 1rem;
}
.sidenav_close .link_content {
  margin-top: 5rem;
}
.sidenav_close .link_content .nav-item {
  padding: 1rem 1rem;
}
.sidenav_close .link_content .nav-item .nav-link {
  color: #0C57C9;
  font-size: 1.6rem;
  font-weight: bold;
}
.sidenav_close .sidenav_icon {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: #0C57C9;
}

.sidenav {
  width: 60%;
  height: 100vh;
  background-color: #D8EEFB;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease;
}
.sidenav .sidenav_header {
  margin-top: 4rem;
}
.sidenav .sidenav_header img {
  width: 15rem;
  margin-left: 1rem;
}
.sidenav .link_content {
  margin-top: 5rem;
}
.sidenav .link_content .nav-item {
  padding: 1rem 1rem;
}
.sidenav .link_content .nav-item .nav-link {
  color: #0C57C9;
  font-size: 1.6rem;
  font-weight: bold;
}
.sidenav .sidenav_icon {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.sidenav .sidenav_icon a {
  color: #0C57C9;
}

.btn {
  border-radius: 0;
}

.btn_opacity {
  background-color: rgba(39, 38, 38, 0.4);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
.btn_opacity:hover {
  color: #D8EEFB;
}

.btn_sidebar {
  color: #0C57C9;
  border: 0.15rem solid #0C57C9;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  transition: 0.1rem;
}
.btn_sidebar:hover {
  color: #fff;
  background-color: #0C57C9;
  transition: 0.1rem;
}

.solid_btn {
  background-color: #0C57C9;
  color: #fff;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

.solid_btn-body {
  background-color: #0C57C9;
  color: #fff;
  padding: 1rem 1rem 1rem 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  transition: 0.1rem;
}
.solid_btn-body:hover {
  color: #0C57C9;
  background-color: #fff;
  transition: 0.1rem;
}
.solid_btn-body ion-icon {
  margin-bottom: -0.3rem;
  margin-left: 2rem;
}

.auth_btn {
  background-color: #0C57C9;
  color: #fff;
  padding: 0.5rem 4rem;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 2rem;
}
.auth_btn:hover {
  color: #D8EEFB;
}

.body_btn {
  color: #0C57C9;
  padding: 1rem 0;
  font-size: 1.6rem;
}

.outline_btn-light {
  border: solid 1.5px #fff;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  transition: 0.5s;
  color: #fff;
}
.outline_btn-light:hover {
  background-color: #fff;
  transition: 0.5s;
  color: #0C57C9;
}

.outline_btn-dash {
  margin-top: 4rem;
  border: solid 1.5px #fff;
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  transition: 0.5s;
  color: #fff;
}
.outline_btn-dash:hover {
  background-color: #fff;
  transition: 0.5s;
  color: #000;
}

.outline_btn {
  border: solid 1.5px #0C57C9;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  transition: 0.5s;
  color: #0C57C9;
}
.outline_btn:hover {
  color: #fff;
  background-color: #0C57C9;
  transition: 0.5s;
}

.outline_btn-body {
  border: solid 2px #0C57C9;
  margin-top: 2rem;
  padding: 0.5rem 3rem;
  font-size: 1.6rem;
  color: #0C57C9;
  font-weight: bold;
}
.outline_btn-body:hover {
  background-color: #0C57C9;
  color: #fff;
}

.forms .form-group input {
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #D8EEFB;
}
.forms .form-group select {
  height: 4rem;
  font-size: 1.3rem;
  border: 1px solid #D8EEFB;
}
.forms .form-group .input_text {
  font-size: 1rem;
  color: #0C57C9;
}
.forms .form-group textarea {
  border: 1px solid #D8EEFB;
  font-size: 1.3rem;
}
.forms .input-group {
  margin-bottom: 1rem;
}
.forms .input-group .uploads {
  font-size: 1.3rem;
  border: 1px solid #D8EEFB;
}
.forms .input-group .upload_input {
  font-size: 1.3rem;
  border: 1px solid #D8EEFB;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  height: 3.6rem;
}
.forms .input-group .upload_input::after {
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  height: 3.6rem;
}
.forms .input-group .upload_btn {
  padding-top: 0.7rem;
  padding-bottom: 0.9rem;
  font-size: 1.3rem;
}

.forms_auth .form-group .form-control {
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #D8EEFB;
}

.sellbitcoin_form input {
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #D8EEFB;
}
@media (max-width: 768px) {
  .sellbitcoin_form .input-group {
    margin-bottom: 2rem;
  }
}

.form_note {
  width: 80%;
}

.card {
  border: 0;
  border-radius: 0;
}

.dashboard {
  margin: 2rem 0;
}
.dashboard .dashboard_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.dashboard .activities {
  margin-bottom: 2rem;
}
.dashboard .activities .card-title {
  font-size: 1.3rem;
}
.dashboard .activities .card-text {
  font-size: 2rem;
  font-weight: bold;
}
.dashboard .activities .card_icon {
  margin-top: 1rem;
}
.dashboard .activities .card_icon ion-icon {
  font-size: 2rem;
}
.dashboard .card_wallet {
  background-color: #0C57C9;
}
.dashboard .card_wallet .card-figure {
  font-size: 3rem;
}
.dashboard .card_wallet .wallet_text {
  font-size: 1.3rem;
}
.dashboard .card_profile {
  margin: 2rem 0;
}
.dashboard .card_profile .profile_img {
  width: 10rem;
  margin-bottom: 2rem;
}
.dashboard .card_profile .profile_text {
  font-size: 1.3rem;
}
.dashboard .promotions {
  margin-top: 2rem;
}
.dashboard .promotions .promotions_img {
  width: 100%;
}
.dashboard .airtime_preview {
  margin: 2rem 0;
}
.dashboard .airtime_preview .card-body img {
  margin-top: 2rem;
  width: 60%;
}
.dashboard .airtime_preview .card-text {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 4rem;
}
.dashboard .preview {
  margin: 2rem 0;
}
.dashboard .preview .card-body img {
  margin-top: 1rem;
  width: 25%;
}
.dashboard .preview .card-text {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}
.dashboard .p_bitcoin {
  background-image: url("../assets/bitcoin-card.png");
  background-position: left;
  background-repeat: no-repeat;
  background-color: #FDA600;
}
.dashboard .p_giftcard {
  background-image: url("../assets/giftcards-card.png");
  background-position: left;
  background-repeat: no-repeat;
  background-color: #000;
}
.dashboard .card_transaction .card-header {
  background-color: #fff;
  font-size: 1.6rem;
  border-bottom: 0;
}
.dashboard .card_transaction th {
  font-size: 1.3rem;
}
.dashboard .card_transaction td {
  font-size: 1.3rem;
}

.transaction {
  margin: 2rem 0;
}
.transaction .transaction_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.transaction .card_balance {
  background-color: #0C57C9;
  color: #fff;
}
.transaction .card_balance .card-title {
  font-size: 3rem;
}
.transaction .card_balance .balance_text {
  font-size: 1.3rem;
}
.transaction .card_transaction {
  margin-top: 2rem;
}
.transaction .card_transaction .card-header {
  background-color: #fff;
  font-size: 1.6rem;
  border-bottom: 0;
}
.transaction .card_transaction th {
  font-size: 1.3rem;
}
.transaction .card_transaction td {
  font-size: 1.3rem;
}

.airtime {
  margin: 2rem 0;
}
.airtime .airtime_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.airtime .card_form {
  margin-bottom: 2rem;
  padding: 2rem;
}
.airtime .card_form .card-header {
  background-color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: 0;
}
.airtime .notice .notice_topic {
  color: #0C57C9;
  font-size: 1.3rem;
}
.airtime .notice .notice_subtopic {
  color: #0C57C9;
  font-size: 2rem;
  font-weight: bold;
}
.airtime .card_instruction {
  background-color: #0C57C9;
  color: #fff;
  padding: 2rem;
}
.airtime .card_instruction .card-header {
  background-color: #0C57C9;
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: 0;
}
.airtime .card_instruction .card-body {
  font-size: 1.3rem;
}

.giftcard {
  margin: 2rem 0;
}
.giftcard .giftcard_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.giftcard .card_form {
  margin-bottom: 2rem;
  padding: 2rem;
}
.giftcard .card_form .card-header {
  background-color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: 0;
}
.giftcard .notice .notice_topic {
  color: #0C57C9;
  font-size: 1.3rem;
}
.giftcard .notice .notice_subtopic {
  color: #0C57C9;
  font-size: 2rem;
  font-weight: bold;
}
.giftcard .card_instruction {
  background-color: #0C57C9;
  color: #fff;
  padding: 2rem;
}
.giftcard .card_instruction .card-header {
  background-color: #0C57C9;
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: 0;
}
.giftcard .card_instruction .card-body {
  font-size: 1.3rem;
}

.nav_bread {
  margin-bottom: 2rem;
}
.nav_bread .breadcrumb {
  font-size: 1.3rem;
  background-color: #fff;
}

.bitcoin .bitcoin_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.bitcoin .bitcoin_balance {
  background-color: #0C57C9;
  padding: 2rem;
}
.bitcoin .bitcoin_balance .card-header {
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 0;
}
.bitcoin .bitcoin_balance .card-title {
  color: #fff;
  font-size: 3rem;
}
.bitcoin .bitcoin_balance .rates {
  color: #F8BC23;
  font-size: 1.3rem;
}
.bitcoin .card_bitcoin {
  margin: 2rem 0;
  padding: 2rem;
}
.bitcoin .card_bitcoin .bit_img {
  width: 100%;
}
.bitcoin .card_bitcoin .bit_title {
  font-size: 1.3rem;
}
.bitcoin .card_bitcoin .rates {
  font-size: 1.3rem;
  color: #1DDC0D;
}
.bitcoin .card_bitcoin .bit_button {
  margin-top: 4rem;
}
.bitcoin .card_instruction {
  padding: 2rem;
}
.bitcoin .card_instruction .card-header {
  background-color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: 0;
}
.bitcoin .card_instruction .card-body {
  font-size: 1.3rem;
}
.bitcoin .card_instruction .ol {
  margin-top: 4rem !important;
}
.bitcoin .card_instruction .carousel-inner .carousel_title {
  color: #0C57C9;
}

.bitwallet .bitwallet_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.bitwallet .bitwallet_card {
  padding: 2rem;
}
.bitwallet .bitwallet_card .card-header {
  background-color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: 0;
}
.bitwallet .bitwallet_card .modal_caption {
  font-size: 1.3rem;
}
.bitwallet .bitwallet_card .modal_barcode {
  width: 30rem;
}
.bitwallet .bitwallet_card .form-label {
  color: #0C57C9;
}
.bitwallet .bitwallet_card .form-control-plaintext {
  font-size: 1.3rem;
  padding: 1rem;
  border: solid 1px #0C57C9;
}

.modal .modal-content {
  padding: 2rem;
}
.modal .modal-content .modal-header {
  border: 0;
}
.modal .modal-content .modal-header .modal-title {
  font-size: 1.6rem;
}
.modal .modal-content .modal_caption {
  font-size: 1.3rem;
}
.modal .modal-content .modal-footer {
  border: 0;
}

.sendcoin .sendcoin_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.sendcoin .card_sendicon {
  padding: 2rem;
}
.sendcoin .card_sendicon .sendcoin_topic {
  margin-bottom: 2rem;
}
.sendcoin .card_sendicon .sendcoin_topic .bit_img {
  width: 100%;
}
.sendcoin .card_sendicon .sendcoin_topic .sendcoin_title {
  font-size: 1.3rem;
  font-weight: bold;
}
.sendcoin .card_sendicon .ionicon {
  font-size: 2rem;
}
.sendcoin .card_instruction {
  padding: 2rem;
}
.sendcoin .card_instruction .card-header {
  background-color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: 0;
}
.sendcoin .card_instruction .card-body {
  font-size: 1.3rem;
}
.sendcoin .card_instruction .ol {
  margin-top: 4rem !important;
}
.sendcoin .card_instruction .carousel-inner .carousel_title {
  color: #0C57C9;
}

.sellcoin {
  font-size: 1.3rem;
}
.sellcoin .sellcoin_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.sellcoin .card_sellbitcion {
  padding: 2rem;
}
.sellcoin .card_sellbitcion .sell_bitcoin .sellbitcoin_form input {
  font-size: 1.3rem;
}
.sellcoin .card_sellbitcion .sell_bitcoin .sellbitcoin_form .ionicon {
  font-size: 2rem;
}
.sellcoin .card_sellbitcion .rates {
  color: #0C57C9;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.sellcoin .card_sellbitcion .carousel-inner .carousel_title {
  color: #0C57C9;
}
.sellcoin .card_sellbitcion .form-label {
  color: #0C57C9;
}
.sellcoin .card_sellbitcion .form-control-plaintext {
  font-size: 1.3rem;
  padding: 1rem;
  border: solid 1px #0C57C9;
}

.withdrawal {
  font-size: 1.3rem;
}
.withdrawal .withdrawal_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.withdrawal .card_withdrawal {
  padding: 2rem;
  margin-bottom: 2rem;
}
.withdrawal .card_wallet {
  background-color: #0C57C9;
}
.withdrawal .card_wallet .card-figure {
  font-size: 3rem;
}

.Suggestions {
  font-size: 1.3rem;
}
.Suggestions .Suggestions_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.Suggestions .card_Suggestions {
  padding: 2rem;
}

.edit_profile {
  font-size: 1.3rem;
}
.edit_profile .edit_profile-heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.edit_profile .card_profile {
  padding: 2rem;
}

.settings .settings_heading {
  margin-bottom: 2rem;
  color: #0C57C9;
}
.settings .card_profile {
  background-color: #0C57C9;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
.settings .card_profile .profile_bold {
  font-size: 1.5rem;
  font-weight: bold;
}
.settings .card_profile .space {
  margin-bottom: 2rem;
}
.settings .card_bank {
  padding: 2rem;
}
.settings .card_bank .card-header {
  background-color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: 0;
}

.bitwallet_card .box_two {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.bitwallet_card .note_bold {
  font-weight: bold;
  color: red;
}
.bitwallet_card .note {
  font-size: 1.2rem;
}
.bitwallet_card .box_one, .bitwallet_card .box_three, .bitwallet_card .box_four {
  background-color: rgba(216, 238, 251, 0.8);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

#uploads * {
  box-sizing: border-box;
}
#uploads input[type=file] {
  position: absolute;
  right: -9999px;
  visibility: hidden;
  opacity: 0;
}
#uploads input[type=submit] {
  position: relative;
  padding: 1rem 3rem;
  background: #0c8fda;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  border-radius: 0;
  border: 0;
  color: #fff;
}
#uploads input[type=submit]:hover {
  background: #0b7fc2;
  color: #fff;
  cursor: pointer;
  transition: 0.2s all;
}
#uploads label {
  position: relative;
  padding: 1rem 3rem;
  background: #eee;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  border-radius: 0;
}
#uploads label:hover {
  background: #0c8fda;
  color: #fff;
  cursor: pointer;
  transition: 0.2s all;
}
#uploads div.files {
  background: #eee;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0;
}
#uploads div.files ul {
  list-style: none;
  padding: 0;
  max-height: 150px;
  overflow: auto;
}
#uploads div.files ul li {
  padding: 0.5rem 0;
  padding-right: 2rem;
  position: relative;
}
#uploads div.files ul li i {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
}
#uploads div.container {
  width: 100%;
  padding: 0 2rem;
}
#uploads span.file-size {
  color: #999;
  padding-left: 0.5rem;
}

.drop_pro {
  background-color: #0C57C9;
  color: #fff;
}

.airtime_img {
  width: 100%;
}

.tran_img {
  width: 50rem;
  position: absolute;
  right: -20rem;
  bottom: 0rem;
  transform: rotate(-20deg);
  z-index: -1;
}

.mob_card {
  background-color: #fff;
}

.mob_img {
  width: 100%;
}

.form_container {
  padding: 0 5vw;
}
.form_container .navbar-brand img {
  width: 15rem;
  margin: 2rem 0;
}
.form_container .form_title {
  font-size: 4rem;
  margin-top: 20vh;
  color: #0C57C9;
}
.form_container .form_subtitle {
  font-size: 1.6rem;
}
.form_container .form_note {
  font-size: 1.3rem;
  margin-top: 10vh;
}
.form_container .forget {
  font-size: 1.3rem;
}

.login_img {
  background-image: url("../assets/login-bg.jpg");
  height: 100vh;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.signup_img {
  background-image: url("../assets/login-bg.jpg");
  height: 100vh;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .form_container .form_title {
    font-size: 2rem;
    margin-top: 5vh;
    color: #0C57C9;
  }
  .form_container .form_subtitle {
    font-size: 1.3rem;
  }

  .auth_footer {
    margin-top: 20vh;
  }
}
header {
  height: 100vh;
  background-image: url(../assets/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header .header_topic {
  padding-top: 20vh;
}
header .header_topic .header_title {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Lexend Deca", sans-serif;
}
header .header_topic .header_subtitle {
  font-size: 1.8rem;
  margin-top: 2rem;
  font-family: "Biryani", sans-serif;
}
header .header_canvas {
  padding-top: 18vh;
}
header .header_canvas .header_img {
  width: 80%;
}

@media (max-width: 768px) {
  header {
    height: 100vh;
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }

  .header_topic {
    text-align: center;
  }
}
#intro {
  padding: 10vh 0;
}
#intro .intro_line {
  background-color: #0C57C9;
  margin: 2rem 0;
  height: 0.4rem;
  width: 10rem;
}
#intro .intro_text {
  color: #0C57C9;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Lexend Deca", sans-serif;
}
#intro .intro_icon {
  width: 12vh;
  margin: 5vh 0 2vh 0;
}
#intro .intro_icon-text {
  color: #0C57C9;
  font-size: 1.6rem;
  font-family: "Lexend Deca", sans-serif;
}

#about {
  background-image: url(../assets/Ellipse-1.png);
  background-size: 20vw;
  background-position: right;
  background-repeat: no-repeat;
  padding: 15vh 0;
}
#about .about_title {
  color: #0C57C9;
  font-size: 4rem;
  margin-top: 4rem;
  font-weight: bold;
  padding-bottom: 2rem;
  font-family: "Lexend Deca", sans-serif;
}
#about .about_img {
  width: 80%;
}
#about .about_text {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #0C57C9;
}

#giftcard {
  background-image: url(../assets/box.png);
  background-size: 20vw;
  background-position: left;
  background-repeat: no-repeat;
  padding: 15vh 0;
}
#giftcard .giftcard_title {
  color: #0C57C9;
  font-size: 4rem;
  margin-top: 4rem;
  font-weight: bold;
  padding-bottom: 2rem;
  font-family: "Lexend Deca", sans-serif;
}
#giftcard .giftcard_text {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #0C57C9;
}
#giftcard .giftcard_img {
  width: 80%;
}

#airtime {
  background-image: url(../assets/Ellipse-1.png);
  background-size: 20vw;
  background-position: right;
  background-repeat: no-repeat;
  padding: 15vh 0;
}
#airtime .airtime_title {
  color: #0C57C9;
  font-size: 4rem;
  margin-top: 4rem;
  font-weight: bold;
  padding-bottom: 2rem;
  font-family: "Lexend Deca", sans-serif;
}
#airtime .airtime_img {
  width: 80%;
}
#airtime .airtime_text {
  font-size: 1.6rem;
  color: #0C57C9;
}

#bitcoin {
  background-image: url(../assets/box.png);
  background-size: 20vw;
  background-position: left;
  background-repeat: no-repeat;
  padding: 15vh 0;
}
#bitcoin .bitcoin_title {
  color: #0C57C9;
  font-size: 4rem;
  margin-top: 4rem;
  font-weight: bold;
  padding-bottom: 2rem;
  font-family: "Lexend Deca", sans-serif;
}
#bitcoin .bitcoin_text {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #0C57C9;
}
#bitcoin .bitcoin_img {
  width: 80%;
}

#conclude {
  background-color: #D8EEFB;
  padding: 15vh 0;
}
#conclude .conclude_title {
  color: #0C57C9;
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
  font-family: "Lexend Deca", sans-serif;
}
#conclude .conclude_subtitle {
  font-size: 1.6rem;
  color: #0C57C9;
}

footer {
  padding: 10vh 0 2vh 0;
  background-color: #0C57C9;
}
footer ul li {
  display: inline;
  font-size: 1.6rem;
  color: #fff;
}
footer ul li a {
  color: #D8EEFB;
}
footer ul .linked a:hover {
  color: #fff;
}
footer .footer_text {
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
}
footer .footer_number {
  color: #D8EEFB;
  font-size: 1.6rem;
  font-weight: bold;
}
footer .footer_number ion-icon {
  margin-bottom: -0.2rem;
  color: #D8EEFB;
}
footer .footer_icon ion-icon {
  color: #D8EEFB;
  font-size: 2rem;
  margin-right: 2rem;
}

.terms_bg {
  background-color: #D8EEFB;
}

.terms {
  color: #0C57C9;
  background-color: #FFF;
}
.terms .navbar .navbar-brand img {
  width: 8rem;
}
.terms .terms_content {
  padding-top: 10vh;
}
.terms .terms_content .terms_title {
  font-size: 4rem;
}
.terms .terms_content p {
  font-size: 1.6rem;
}